@font-face {
  font-family: MainFont;
  src: url("/fonts/20051.ttf");
}

body {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: MainFont;
}

.bgText {
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.bgText .text {
  color: rgba(0, 0, 0, 0.02);
  font-size: 240px;
  width: 5000px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.h-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.v-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section {
  width: 100%;
  height: 100vh;
  position: relative;
}

.long {
  min-height: 100vh;
  height: auto;
}

.strokeText {
  width: 939px;
  text-align: center;
  position: relative;
}

@media (max-width: 1000px) {
  .strokeText {
    width: 820px;
  }
}

@media (max-width: 758px) {
  .strokeText {
    width: 330px;
  }
}

.strokeText .text {
  color: black;
  font-size: 52px;
  position: relative;
}

@media (max-width: 758px) {
  .strokeText .text {
    font-size: 20px;
  }
}

.strokeText .underText {
  position: absolute;
  top: calc(50% + 3px);
  left: calc(50% + 2px);
  font-size: 52px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  color: white;
  text-shadow: -1px -1px 0 #b6b6b6, 1px -1px 0 #b6b6b6, -1px 1px 0 #b6b6b6, 1px 1px 0 #b6b6b6;
}

@media (max-width: 758px) {
  .strokeText .underText {
    font-size: 20px;
  }
}

.desc {
  margin-top: 73px;
  color: #646464;
  width: 939px;
  text-align: center;
  font-size: 24px;
}

@media (max-width: 1000px) {
  .desc {
    width: 720px;
  }
}

@media (max-width: 758px) {
  .desc {
    width: 330px;
    font-size: 14px;
    margin-top: 20px;
  }
}

.logo {
  position: fixed;
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: black;
  font-size: 24px;
}

.logo span {
  color: #b0b0b0;
}

#d {
  position: relative;
}

.firstSections {
  position: relative;
}

.leafs {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
}

.leafs .leafWithShadow {
  margin-bottom: -150px;
  position: relative;
}

@media (max-width: 1382px) {
  .leafs .leafWithShadow {
    margin-bottom: 0;
  }
  .leafs .leafWithShadow .leaf {
    width: 200px;
  }
}

.leafs .leafWithShadow .leafShadow {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 1382px) {
  .leafs .leafWithShadow .leafShadow {
    width: 200px;
  }
}

.leafs .leafWithShadow .leafShadow.lower {
  top: 13px;
  left: 6px;
}

@media (max-width: 1382px) {
  .leafs .leafWithShadow .leafShadow.lower {
    top: 0;
    left: -10px;
  }
}

#leaf2Shadow {
  width: 400px;
}

@media (max-width: 1382px) {
  #leaf2Shadow {
    width: 200px;
  }
}

.strongText {
  max-width: 1000px;
  text-align: left;
  font-size: 24px;
}

@media (max-width: 1000px) {
  .strongText {
    max-width: 768px;
  }
}

@media (max-width: 809px) {
  .strongText {
    max-width: 330px;
    font-size: 16px;
  }
}

#leaf3 {
  position: absolute;
  bottom: 2000;
  right: 0;
  z-index: -1;
}

.textBlock {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1000px) {
  .textBlock {
    width: 768px;
  }
}

@media (max-width: 809px) {
  .textBlock {
    width: 330px;
    font-size: 16px;
  }
}

.textBlock .title {
  font-size: 48px;
  /* identical to box height */
  color: #000000;
  margin-bottom: 25px;
}

.textBlock .desc {
  font-size: 24px;
  color: #646464;
  margin-bottom: 73px;
  margin-top: 0;
  width: 100%;
  text-align: left;
}

.block {
  overflow: hidden;
  position: relative;
  width: 1500px;
  background-color: white;
  border: 1px solid #ededed;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.block .leftSide {
  padding: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block .leftSide .title {
  font-size: 36px;
  color: #000000;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.block .leftSide .author {
  font-size: 28px;
  color: #646464;
  margin-bottom: auto;
  text-transform: uppercase;
}

.block .leftSide .btn {
  text-decoration: none;
  color: #000000;
  width: 236px;
  height: 46px;
  background: #e8ebef;
  border: 1px solid #f1f1f1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  margin-top: 133px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block img {
  height: 107%;
  position: absolute;
  right: -25px;
}

@media (max-width: 1382px) {
  .leftSide {
    z-index: 1;
  }
}

@media (max-width: 1000px) {
  .leftSide {
    z-index: 1;
  }
}

@media (max-width: 809px) {
  .leftSide {
    z-index: 1;
  }
}

/*# sourceMappingURL=index.css.map */